extends layout.pug

block content

  article.portfolio-intro

    
    h1 A Portfolio, by Ahmad Ibrahim

    
    p This Portfolio showcases projects I have completed on my journey as a Full Stack Javascript Developer. 


  article.portfolio-project-thumbs
    .projects-box.box.grid
      -var index = 0
      each project in projects
       
        .cell
          a(href=`project/${index++}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt=`Thumbnail ${project.project_name}`)
            h5 #{project.project_name}
